<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <loggers>
        <!--         Call section-->
        <!--        # logger options: ALL -> DEBUG -> INFO -> WARN -> ERROR -> FATAL -> OFF-->
        <Root level="INFO">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </loggers>

    <Appenders>
        <!-- Description section-->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg\n"/>
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg\n"/>
        </File>
    </Appenders>

</configuration>